.panel.panel-default
  .panel-heading
    - if @name_record.new_record?
      = I18n.t('titles.new_model', model: NameRecord.model_name.human)
    - else
      = I18n.t('titles.edit_model', model: NameRecord.model_name.human)
  .panel-body
    = form_for @name_record do |f|
      .form-group
        = f.label :fqdn
        = f.text_field :fqdn, class: 'form-control'

      .form-group
        = f.label :client_id
        = f.text_field :client_id, class: 'form-control'

      .form-group
        = f.label :ipv4
        = f.text_field :ipv4, class: 'form-control'

      .form-group
        = f.label :ipv6
        = f.text_field :ipv6, class: 'form-control'

      = f.submit I18n.t('buttons.save'), class: 'btn btn-success'

- unless @name_record.new_record?
  .panel.panel-danger
    .panel-heading
      = I18n.t('titles.destroy_model', model: NameRecord.model_name.human)
    .panel-body
      = link_to I18n.t('buttons.delete'), name_record_path(@name_record),
                method: :delete,
                class: 'btn btn-danger btn-sm',
                data: { confirm: I18n.t('confirm_delete_named', name: @name_record.fqdn) }
